body{
    background-color: red;

}

div{
    font-size: x-large;
    text-align: center;
}

div::after{
    content: 'Welcome to the Demo';
    
}

@media (max-width: 400px){
   body{
    background-color: white;
   }
   div::after{
        content: 'Very Small';
   }
}

@media (min-width: 400px) and   (max-width: 700px){
    body{
        background-color: black;
    }
}

@media (min-width: 700px){
    /* 
        if view port atleast 900px .
        then this style will apply
    */
    body{
        background-color: aquamarine;
        
    }

    div::after{
        content: 'Smaller Sreeen';
    }
}

@media (min-width: 900px){
    /* 
        if view port atleast 900px .
        then this style will apply
    */
    body{
        background-color: blue;
        
    }

    div::after{
        content: 'Wow this is working';
    }
}